@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

body {
    background-color: #040406;
    color: #040406;
    font-family: 'Kalam', cursive;
    font-weight: 900;
    font-size: xx-large;
    color: white;
  }

  .container-fluid h1{
   padding-left: 1em;
   padding-top: 1em;
  }
 
  .container-fluid {
    background-color: #040406;
    padding: 0;
  }

  .navbar {
    padding: 0;
  }

  .hero {
    width: 100%;
    height: 45em;
    background-image: url(MainHero2.png);
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    position: relative;
  }

  .hero > h2 {
    font-size: 4rem;
    transform: scaleX(-1);
    position: absolute; left: 0; top: 0; width: 100%; height: 22.5em;
    padding-top: 8em;
    padding-left: .3em;
    padding-right: 45%;
    font-family: 'Unbounded', cursive;
    color: #D4AF37;
    background-image: linear-gradient(to right,
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,.7) 40%,
    rgba(0,0,0,.4) 60%,
    rgba(0,0,0,0) 100%);
  }

  
  .hero2 {
    width: 100%;
    height: 45em;
    background-image: url(pic4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .hero2 > h2 {
    position: absolute; left: 0; top: 0; width: 100%; height: 35.999em;
    padding-top: 13em;
    padding-left: .3em;
    font-family: 'Unbounded', cursive;
    color: #D4AF37;
    font-size: 2.5rem;
    background-image: linear-gradient(to top,
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,.7) 40%,
    rgba(0,0,0,.4) 60%,
    rgba(0,0,0,0) 100%);
  }

  .p-4 {
    font-family: 'Bebas Neue', sans-serif;
    color: #D4AF37;
    margin: 0;
  }
  
 #insta {
  background-color: #962fbf;
 }

 #email {
  background-color: #00b4d8;
 }

 p {
  font-family: 'Agdasima', sans-serif;
 }